body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: linear-gradient(125deg,darkkhaki,beige);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}
.cont{
    width:100%;
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    text-align:center;
   
}
.cont h1{
    font-size:160px;
    margin:0;
    font-weight:900;
    letter-spacing:20px;
    background:url(BALI/monkey.jpg) center no-repeat ;
    -webkit-text-fill-color:transparent;
  -webkit-background-clip: text;
}